fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
langchain
langchain-community
langchain-mistralai
langchain-text-splitters
chromadb
pypdf
fastapi
uvicorn[standard]
python-multipart
chromadb
sentence-transformers
langchain
langchain-groq
pypdf
python-dotenv
